#first{
  height: 88vh;
  background: url("../../assets/static/photos/back.jpg") center center / cover no-repeat;                   
}
  
.description{
  color: rgb(70,70,70);
  font-size: 1.5rem;
}

/* Style buttons */
.search {
  background-color: white;
  border: none; /* Remove borders */
  color: grey; /* White text */
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
  
/* Darker background on mouse-over */
.search:hover {
  color: black;
}

/* Style buttons */
.arrow {
  background-color: white;
  border: none; /* Remove borders */
  color: grey; /* White text */
  padding: 2%; /* Some padding */
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.arrow:hover {
  color: black;
}
